.app{
    background: #171717;
    height: 100vh;
}

.finishMessage{
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.creator{
    color: #C2C2C2;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.main_text{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F5F5F5;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.elli
{
    color: #C2C2C2;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

span.ellink{
    color: #C2C2C2;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

@media (max-width: 1200px) {
    .hide-on-small-screen {
        display: none;
    }
}

@media (max-width: 900px) {
    .hide-on-small-screen2 {
        display: none;
    }
}

